body{
    margin: 0;
    padding: 0;
   background-image: url(./images/taxi-dispatch.jpg); 
   background-repeat: no-repeat;
   background-position: top;
   background-size: 100%;
}
.head{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size:300%;
  
    
    background-color: black;
    width: 300px;
    margin-left: 625px;
    border-radius: 35%;
    text-align: center;
}
.pe{
    font-family: 'Moon Dance', cursive;
    font-size:30px;
    color:white;
    font-weight:bolder;
    margin-bottom: -10px;
}
.he{
    font-size: 60px;
    font-weight: lighter;
    color: white;
    margin: 10px;
}
.drop{
    text-align: center;
    font-size: 20px;
    color:white;
    border-radius: 30%;

    background-color: black;
    width: 150vh;
    margin-top: 20px;
    margin-left: 220px;
    
}

.sub{
    font-size: 15px;
    font-family:'Arial';
    text-align: center;
    padding: 8px 20px;
    color: aliceblue;
    background:gray;
    border-radius: 5px;
}
.sub:hover{
   color: black;
   font-size: 17px;
}

.form select[name="start"],.form select[name="destination"],.form select[name="cars"],.form select[name="driver"]{
    margin: auto;
    text-align: left;
    font-size:70%;
    border: 2px solid gray;
    padding: 5px 25px;
    outline: none;
    border-radius: 30%;
    transition: 0.25s; 
    background:white;
}

.form input[type="datetime-local"],.form input[type="number"]{
    margin: 10px;
    text-align: left;
    font-size:70%;
    border: 2px solid gray;
    padding: 5px 25px;
    outline: none;
    border-radius: 00%;
    transition: 0.25s; 
    background:white;
}
.ped{
    margin: -5px;
}
.ped1{
    margin: 10px;
    margin-bottom:-5px;
}