body{
    margin: 0;
    padding: 0;
    background-color:rgb(231, 235, 29);  
}
h1{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size:200%;
  
    
    background-color: black;
    width: 300px;
    margin: auto;
    border-radius: 35%;
    text-align: center;
}
img{
    display: block;
    width:200vh;
    height: 671px;
    margin-left: auto;
    margin-right: auto;
}