*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    margin: 0;
    padding: 0;
  background-color: rgb(248, 235, 53);
}
.head{
    color: black;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size:300%;
    width: 300px;
    margin-left: 625px;
    margin: 0 auto;
}
.pe{
    text-align: center;
    font-family: 'Moon Dance', cursive;
    font-size:20px;
    color:yellow;
    font-weight:bolder;
    margin-bottom: -10px;
}
.he{
    text-align: center;
    text-shadow:2px 2px 2px #000 ;
    font-size: 60px;
    font-weight: lighter;
    color: white;
    margin: 10px;
}
.drop{
    text-align: center;
    font-size: 20px;
    color:white;
    border-radius: 00%;

   background-image: url(./images/Customers-Happier-With-Taxi-Fleet-Management.png);
   background-repeat: no-repeat;
   background-size: cover ;
   background-position: bottom;
    width: 202vh;
    height: 92vh;
    margin: auto;
}


.sub{
    font-size: 15px;
    font-family:'Arial';
    text-align: center;
    padding: 8px 20px;
    color: aliceblue;
    background:gray;
    border-radius: 5px;
}
.sub:hover{
   color: black;
   font-size: 17px;
}

.form select[name="start"],.form select[name="destination"],.form select[name="cars"],.form select[name="driver"]{
    margin: auto;
    text-align: left;
    font-size:70%;
    border: 2px solid gray;
    padding: 5px 25px;
    outline: none;
    border-radius: 00%;
    transition: 0.25s; 
    background:white;
}

.form input[type="datetime-local"],.form input[type="number"]{
    margin: 10px;
    text-align: left;
    font-size:70%;
    border: 2px solid gray;
    padding: 5px 25px;
    outline: none;
    border-radius: 00%;
    transition: 0.25s; 
    background:white;
}
.ped{
    margin: -5px;
    text-shadow: 2px 2px 2px #000;

}
.ped1{
    margin: 10px;
    margin-bottom:-5px;
    text-shadow: 2px 2px 2px #000;

}

label{
    text-shadow: 2px 2px 2px #000;
}